<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<h2>Student List</h2>

<input type="text" id="searchInput" onkeyup="searchStudents()" placeholder="Search by firstname or gpa">

<button class="addStudentButton" onclick="location.href='addStudents.html'">Add New Student</button>

<table id="studentTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="studentTableBody"></tbody>
</table>

<div id="studentDetailsModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeStudentDetailsModal()">&times;</span>
        <div id="studentDetails"></div>
    </div>
</div>

<script src="../static/script.js"></script>

</body>
</html>
